.sidebar {
  width:auto;
  max-width: 33vw;
  position: fixed;
  top: 24px;
  padding-right: 2em;
}

.siteTitle {
  color: #3fda02;
  font-size: calc(4.5vw);
  font-style: italic;
  padding-top: .125em;
  padding-bottom: .33em;
  letter-spacing: -4px;
}

.linkList {
  padding-left: .25em;
}

.link {
  margin-bottom: 2em;
  font-size: .9em;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.linkSubtitle {
  font-weight:100;
}

.body {
  max-width:66vw;
  margin-left: 33vw;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.nav {
  text-decoration: none;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.flex {
  display: flex;
  flex-direction: row
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.image {
  align-self: flex-end;
  max-width: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.image:not(:last-child) {
  padding-bottom: 2em;
}
